.main_form{
    display: flex;
    border: 1px solid black;
    /* justify-content: center; */
    /* background-color: red; */
    max-width: 60%;
    margin: 3rem auto;
}
#content{
    max-width: 17%;
    padding: 3rem;
    border-right: 1px solid;
    height: 10rem;
    margin: 28px;
}
#form{
    font-size: 20px;
    padding: 2rem;
}
input{
    width: 21rem;
    height: 2.5rem;
    margin-left: 5px;
}
label{
    margin-top: 10px;
}
button{
    width: 21.9rem;
    height: 3em;
    background-color: #2f2f54;
    color: white;
    border: none;
}